.completed {
  background-color: green !important;
  color: white;
}

.inputEdit{
  border: none;
  outline: none;
  width: 90%;
}

.completed-input {
  background-color: green !important;
  color: white !important;
}